
.metadata/
proyecto/.settings/language.settings.xml
proyecto/.settings/stm32cubeide.project.prefs
proyecto/.mxproject
proyecto/.cproject
proyecto/.project
proyecto/STM32F401RETX_FLASH.ld
proyecto/STM32F401RETX_RAM.ld
